body {
  background: #111;
  color: white;
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  overflow-x: hidden;
}
button {
  cursor: pointer;
}
input {
  padding: 0.3rem;
  border-radius: 4px;
  border: none;
}
